#table-general{
    padding: 40px 40px;
    color: black;
    border: solid 1px black;
    margin: 40px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    
}

.contactTitle{
    margin-bottom: 40px;
    align-content: center;
}
#text{
    
        text-align: center;
        margin-bottom: 40px;
        color: black;
      
}
.contactAddTittle{
    margin-bottom: 40px;
    align-content: center;
    color: black;
}
#userSearch{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 40px;
    justify-content: center;
    align-items: center;

}
#searchHelpBlock{
    color: black;
}
#form-label{
    width: 100px;
}

#contactInfo{
    width: 100%;
    /* border: 1px solid #000; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
    background-color: white;
    color: black;
    }


#contactsAdditions{
    width: 100%;
    /* border: 1px solid #000; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
    background-color: white;
    color: black;
  }
.thConstacts{ width: 190px;
    height: 45px;
    padding-left: 10px;
    color: black;}

.tdContacts{
    width: 190px;
    height: 45px;
    padding-left: 10px;
    color: black;
}

#addContactBtn{
width: 160px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
margin-bottom: 8px;

}
#delateContactBtn{
    width: 160px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 8px;
}
#searchBtn{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    
    width: 160px;
}

