/* .formEditContact {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 350px;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  background-color: #1a1a1a;
  color: #fff;
  border: 1px solid #333;
  margin-left: 40%;
  margin-bottom: 30px;
  background: white;
}

.title1 {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #00bfff;
}

.title1::before {
  width: 18px;
  height: 18px;
}

.title1::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.title1::before,
.title1::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #00bfff;
}

.message,
.signin {
  font-size: 14.5px;
  color: rgba(67, 67, 67, 0.7);
}

.signin {
  text-align: center;
}

.signin a:hover {
  text-decoration: underline royalblue;
}

.signin a {
  color: #00bfff;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
}

.formEditContact label {
  position: relative;
}

.formEditContact label .input {
  background-color: #ffffff;
  color: rgb(67, 67, 67);
  width: 100%;
  padding: 20px 05px 05px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.formEditContact label .input + span {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.formEditContact label .input:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}

.formEditContact label .input:focus + span,
.formEditContact label .input:valid + span {
  color: #00bfff;
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.input {
  font-size: medium;
}

.submit {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: 0.3s ease;
  background-color: #447de6;
}

.submit:hover {
  background-color: #274d95;
}

@keyframes pulse {
  formEditContact {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

.buttoncanceleditcontact {
  font-weight: bold;
  color: white;
  border-radius: 2rem;
  cursor: pointer;
  width: 100.02px;
  height: 42.66px;
  border: none;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}

.buttoncanceleditcontact .span-mother {
  display: flex;
  overflow: hidden;
}

.buttoncanceleditcontact:hover .span-mother {
  position: absolute;
}

.buttoncanceleditcontact:hover .span-mother span {
  transform: translateY(1.2em);
}

.buttoncanceleditcontact .span-mother span:nth-child(1) {
  transition: 0.2s;
}

.buttoncanceleditcontact .span-mother span:nth-child(2) {
  transition: 0.3s;
}

.buttoncanceleditcontact .span-mother span:nth-child(3) {
  transition: 0.4s;
}

.buttoncanceleditcontact .span-mother span:nth-child(4) {
  transition: 0.5s;
}

.buttoncanceleditcontact .span-mother span:nth-child(5) {
  transition: 0.6s;
}

.buttoncanceleditcontact .span-mother span:nth-child(6) {
  transition: 0.7s;
}

.buttoncanceleditcontact .span-mother2 {
  display: flex;
  position: absolute;
  overflow: hidden;
}

.buttoncanceleditcontact .span-mother2 span {
  transform: translateY(-1.2em);
}

.buttoncanceleditcontact:hover .span-mother2 span {
  transform: translateY(0);
}

.buttoncanceleditcontact .span-mother2 span {
  transition: 0.2s;
}

.buttoncanceleditcontact .span-mother2 span:nth-child(2) {
  transition: 0.3s;
}

.buttoncanceleditcontact .span-mother2 span:nth-child(3) {
  transition: 0.4s;
}

.buttoncanceleditcontact .span-mother2 span:nth-child(4) {
  transition: 0.5s;
}

.buttoncanceleditcontact .span-mother2 span:nth-child(5) {
  transition: 0.6s;
}

.buttoncanceleditcontact .span-mother2 span:nth-child(6) {
  transition: 0.7s;
} */
