.social-icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
}

@media (max-width: 645px) {
}
.text-center.text-lg-start.bg-body-tertiary.text-muted{
  position: absolute;
  padding: 1rem 0;
  width: 100%;
  
}

